{#{% extends 'base.html.twig' %}#}

{#{% block title %}Log in!{% endblock %}#}

{#{% block body %}#}
{#<form method="post">#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

{#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputEmail">Email</label>#}
{#    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#    <label for="inputPassword">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}

{#    #}{##}
{#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" name="_remember_me"> Remember me#}
{#            </label>#}
{#        </div>#}
{#    #}

{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}
{#{% endblock %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{% block title %}Welcome!{% endblock %}</title>#}
{#    <link rel="icon" type="image/png" href="{{asset('assets/login/images/icons/favicon.ico')}}"/>#}
{#    #}{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{#    {% block stylesheets %}#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/vendor/bootstrap/css/bootstrap.min.css')}}">#}
{#        <!--===============================================================================================-->#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">#}
{#        <!--===============================================================================================-->#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">#}
{#        <!--===============================================================================================-->#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/vendor/animate/animate.css')}}">#}
{#        <!--===============================================================================================-->#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/vendor/css-hamburgers/hamburgers.min.css')}}">#}
{#        <!--===============================================================================================-->#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/vendor/animsition/css/animsition.min.css')}}">#}
{#        <!--===============================================================================================-->#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/vendor/select2/select2.min.css')}}">#}
{#        <!--===============================================================================================-->#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/vendor/daterangepicker/daterangepicker.css')}}">#}
{#        <!--===============================================================================================-->#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/css/util.css')}}">#}
{#        <link rel="stylesheet" type="text/css" href="{{asset('assets/login/css/main.css')}}">#}
{#        <!--===============================================================================================-->#}
{#    {% endblock %}#}

{#    {% block javascripts %}#}

{#        <!--===============================================================================================-->#}
{#        <script src="{{asset('assets/login/vendor/jquery/jquery-3.2.1.min.js')}}"></script>#}
{#        <!--===============================================================================================-->#}
{#        <script src="{{asset('assets/login/vendor/animsition/js/animsition.min.js')}}"></script>#}
{#        <!--===============================================================================================-->#}
{#        <script src="{{asset('assets/login/vendor/bootstrap/js/popper.js')}}"></script>#}
{#        <script src="{{asset('assets/login/vendor/bootstrap/js/bootstrap.min.js')}}"></script>#}
{#        <!--===============================================================================================-->#}
{#        <script src="{{asset('assets/login/vendor/select2/select2.min.js')}}"></script>#}
{#        <!--===============================================================================================-->#}
{#        <script src="{{asset('assets/login/vendor/daterangepicker/moment.min.js')}}"></script>#}
{#        <script src="{{asset('assets/login/vendor/daterangepicker/daterangepicker.js')}}"></script>#}
{#        <!--===============================================================================================-->#}
{#        <script src="{{asset('assets/login/vendor/countdowntime/countdowntime.js')}}"></script>#}
{#        <!--===============================================================================================-->#}
{#        <script src="{{asset('assets/login/js/main.js')}}"></script>#}
{#    {% endblock %}#}
{#</head>#}
{#<body>#}
{#<form action="{{ path('app_login') }}" method="post">#}
{#<div class="limiter">#}
{#    <div class="container-login100">#}
{#        <div class="wrap-login100 p-t-50 p-b-90">#}
{#            <form class="login100-form validate-form flex-sb flex-w">#}
{#					<span class="login100-form-title p-b-51">#}
{#						Login#}
{#					</span>#}


{#                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">#}
{#                    <input class="input100" type="email" name="email" value="{{ last_username }}" placeholder="Email">#}
{#                    <span class="focus-input100"></span>#}
{#                </div>#}


{#                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">#}
{#                    <input class="input100" type="password" name="password" placeholder="Password">#}
{#                    <span class="focus-input100"></span>#}
{#                </div>#}
{#                <input type="hidden" name="_csrf_token"#}
{#                   value="{{ csrf_token('authenticate') }}"#}
{#                >#}

{#                <div class="flex-sb-m w-full p-t-3 p-b-24">#}
{#                    <div class="contact100-form-checkbox">#}
{#                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">#}
{#                        <label class="label-checkbox100" for="ckb1">#}
{#                            Remember me#}
{#                        </label>#}
{#                    </div>#}

{#                    <div>#}
{#                        <a href="#" class="txt1">#}
{#                            Forgot?#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="container-login100-form-btn m-t-17">#}
{#                    <button class="login100-form-btn" type="submit">#}
{#                        Login#}
{#                    </button>#}
{#                </div>#}

{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<div id="dropDownSelect1"></div>#}
{#</form>#}
{#</body>#}
{#</html>#}

{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
