{% extends "backOffice/base.html.twig" %}
{% block title %} - Liste des utilisateurs
{% endblock %}

{% block body %}
{#    {{ dump(datatable) }}#}
    <body
            class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row"></div>
            <div
                    class="content-body">
                <!-- users list start -->
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title">Liste des utilisateurs</h4>

                    </div>
                    <div class="card-body">
                        <div id="students" class="table-responsive"></div>
                    </div>
                </div>
                <!-- users list ends -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    </body>

{% endblock %}


{#{% block javascripts %}#}

{#   #}
{#    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>#}

{#    <script>#}
{#        $(function () {#}
{#            let datatableSettings = {{ datatable_settings(datatable) }};#}
{#            datatableSettings.url = window.location.origin + window.location.pathname + window.location.search;#}

{#            $('#students').initDataTables(datatableSettings, {#}
{#                "scrollX": true,#}
{#                buttons: [],#}
{#            }).then(function (dt) {#}
{#                reinitRenderForDatatable(dt,datatableSettings)#}

{#                $(document).on("click", "#datatable-container tbody tr td", function () {#}
{#                    // Si le column n'as pas de class ou si sa class ne contient pas preventClick on le redirige#}
{#                    // if (!$(this).attr('class') || ($(this).attr('class') && !$(this).attr('class').includes('preventClick'))) {#}
{#                    //     var data = dt.row($(this).parent()).data();#}
{#                    //     window.location.href = data.href#}
{#                    // }#}
{#                });#}

{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}

{% block javascripts %}
{#    {{ include('common/datatable-script.html.twig') }}#}
    {{ include('backOffice/students/common/javascript.html.twig') }}
{% endblock %}